body {
    background: radial-gradient(circle, maroon 45%, blue);
    height: 95vh;
    width: 95vw;
  }
  
  .sun { 
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;  
      width:210px;
      height:210px;
      border-radius:50%;	
      background:#f58142;
      opacity:1;
      box-shadow: 0px 0px 40px 45px #f58142;
    
  }
  
  /* .dia {
    width: 78%;
    height: 10%;
    left:48%;
    top: 500%;
    bottom:28%
    background: red;
    transform-origin:center bottom;
    border: 1vmin solid maroon;
    border-radius: 0% 32% 41% 52% / 0% 43% 46% 100%;
    
  } */
  
  /* .dia {
    width: 18%;
    height: 10%;
    left:28%;
    top: 70%;
    background: red;
    transform-origin:center bottom;
    border: 1vmin solid maroon;
    border-radius: 0% 32% 41% 52% / 0% 43% 46% 100%;
    
  } */

  /* .dia {
    width: 147px;
    height: 78px;
    left: 14px;
    top: 30px;
    background: red;
    margin: 65px 38px -114px 14px;
    transform-origin: center bottom;
    border: 1vmin solid maroon;
    border-radius: 0% 32% 41% 52% / 0% 43% 46% 100%;
} */


  
  .ray_box {
      position: absolute;
      margin: auto;
      top:0;
      left:0;
      right:0;
      bottom:0;	
      width:10px;
     -webkit-animation: ray_anim 8s linear infinite;
     animation: ray_anim 8s linear infinite;
  }
  
  .ray {  
      background: -webkit-linear-gradient(top, rgba(255,255,0,0) 0%,rgba(255,255,0,0.8) 50%, rgba(255,255,0,0) 100%);
          background: linear-gradient(top, rgba(255,255,0,0) 0%,rgba(255,255,0,0.8) 50%, rgba(255,255,0,0) 100%); 
    
  /*     background: -webkit-linear-gradient(left, red, green, blue); */
      margin-left:10px;
      border-radius:80% 80% 0 0;
      position:absolute;
      opacity:0.08;
  }
  
  .ray1 {    
      height:100%;
      width:10px;
     -webkit-transform: rotate(180deg);
      top:-195px;
      left: 15px;
  }
  .ray2 {
      height:120px;
      width:8px;
     -webkit-transform: rotate(220deg);
      top:-90px;
      left: 75px;
  }
  .ray3 {
      height:170px;
      width:50px;
     -webkit-transform: rotate(250deg);
      top:-80px;
      left: 100px;
  }
  .ray4 {
      height:120px;
      width:14px;
     -webkit-transform: rotate(305deg);
      top:30px;
      left: 100px;
  }
  .ray5 {
      height:140px;
      width:30px;
     -webkit-transform: rotate(-15deg);
      top:60px;
      left: 40px;
  }
  .ray6 {
      height:190px;
      width:50px;
     -webkit-transform: rotate(30deg);
      top:60px;
      left: -40px;
  }
  .ray7 {
      height:180px;
      width:10px;
     -webkit-transform: rotate(70deg);
      top:-35px;
      left: -40px;
  }
  .ray8 {
      height:120px;
      width:30px;
     -webkit-transform: rotate(100deg);
      top:-45px;
      left:-90px;
  }
  .ray9 {
      height:190px;
      width:10px;
     -webkit-transform: rotate(120deg);
      top:-65px;
      left:-60px;
  }
  .ray10 {
      height:190px;
      width:23px;
     -webkit-transform: rotate(150deg);
      top:-185px;
      left: -60px;
  }
  
  
  @-webkit-keyframes ray_anim { 
          0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
  }
  
  
  
  
  
  /* .flames{
    width: 40px;
    height: 40px;
    top: 55%;
    left: 22%;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  } */
  
  /* .flame{
    bottom:0;
    position:absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
  } */
  
  .yellow{
    left:15px; 
    width: 20px;
    height: 20px;
    background:gold;
    box-shadow: 0px 0px 9px 4px gold;
  }
  
  .orange{
    left:10px; 
    width: 25px;
    height: 25px;
    background:orange;
    box-shadow: 0px 0px 9px 4px orange;
  }
  
  .red{
    left:6px;
    width: 35px;
    height: 35px;
    background:OrangeRed;
    box-shadow: 0px 0px 5px 4px OrangeRed;
  }
  
  .white{
    left:15px; 
    bottom:-4px;
    width: 15px;
    height: 15px;
    background:white;
    box-shadow: 0px 0px 9px 4px white;
  }
  
  
  
  
  .flames{
    width: 40px;
    height: 40px;
    top: 55%;
    left: 22%;
    transform-origin:center bottom;
    animation-name: flicker;
    animation-duration:3ms;
    animation-delay:200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .yellow{
    left:15px; 
    width: 20px;
    height: 20px;
    background:gold;
    box-shadow: 0px 0px 9px 4px gold;
  }
  
  .flame{
    bottom:0;
    position:absolute;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    transform:rotate(-45deg) scale(1.5,1.5);
    
  }
  
  @keyframes flicker{
    0%   {transform: rotate(-1deg);}
    20%  {transform: rotate(1deg);}
    40%  {transform: rotate(-1deg);}
    60%  {transform: rotate(1deg) scaleY(1.04);}
    80%  {transform: rotate(-2deg) scaleY(0.92);}
    100% {transform: rotate(1deg);}
  } 
  

  .light{
    position: relative;
    width: 160px;
    height: 80px;
    background: #b11c1c;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    margin: 72px 0px 0px 20px;
  }

  .light::before{
    content: '';
    position: absolute;
    top: -20px;
    width: 100%;
    height: 40px;
    background: #fdfdfd;
    border-radius: 50%;
    border: 10px solid #9e0303;
    box-sizing: border-box;
    
  }

  .light::after{
    content: '';
    position: absolute;
    top: calc(-65%);
    width: 20px;
    height: 50px;
    left: 50%;
    transform:translateX(-50%);
    background: #fff;
    border-radius: 50%;
    box-shadow:  0 0 0 5px #eff000,
                 0 0 0 10px rgba(255,255,0,.2);
    filter: blur(5px);
    animation: animate 2s linear infinite;
    transform-origin: bottom;
  }

  @keyframes animate{
    0%  
     {transform: translateX(-50%)
      scaleY(1)rotate(0deg);}
    25% 
      {transform: translateX(-50%)
        scaleY(1.4)rotate(10deg);}
    50%
    {transform: translateX(-50%)
        scaleY(1)rotate(0deg);}
    75% 
    {transform: translateX(-50%)
        scaleY(1)rotate(-10deg);}
    100%
    {transform: translateX(-50%)
        scaleY(1)rotate(0deg);}
  } 

  .airBalloon{
    border-radius: 48% 48% 32% 31% / 25% 25% 75% 74%;
    position:absolute;
    background: #ffff00;
  background: -webkit-linear-gradient(0deg, #ffff00 0%, #ffa500 50%, #ff6700 100%);
  background: linear-gradient(0deg, #ffff00 0%, #ffa500 50%, #ff6700 100%);
  }
  
  .ab1{
    width:50px;
    height:50px;
    top:-170px;
    left:225px;
  }
 
 
  .ab2{
    width: 100px;
    height:100px;
    left: -265px;
    top: 217px;
    
  }
  
  .ab3{
    width: 130px;
    height:130px;
    right:-312px;
    top: 84px;
  }
  
  .ab4{
    width: 80px;
    height:80px;
    left: 512px;
    bottom: 333px;
  }
  
  .ab5{
    width:150px;
    height:150px;
    bottom: 174px;
    left: -465px;
  }
  
  .ab6{
    width: 30px;
    height: 30px;
    top:88px;
    right:364px;
  }
  
   .textType1{
    color:white;
    font-size: 60px;
    position:absolute;
    top:-170px;
    left:-234px;
    z-index:2;
  font-family: 'Sail', cursive;
  }
  

  .textType2{
    color:white;
    font-size: 150px;
    position:absolute;
    top:110%;
    left:15%;
    font-family: 'Sail', cursive;
  }